<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
    <p><strong>Want to listen to the fortune-teller server?</strong></p>
    <p>Please login to proceed</p>
    <form action="/auth/local/login" method="post">
        <div>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="Log In" />
        </div>
    </form>
    <a href="/auth/github/login">Login with GitHub</a>
</body>

</html>